---
layout: page-ng
title: Authentication
tagline: Authentication
description: Login into the application
group: navigation
scripts:
- {name: validation, type: remote, url: "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: app, type: remote, url: "assets/app/js/app.js"}
- {name: controller, type: remote, url: "assets/app/js/controllers.js"}
- {name: service, type: remote, url: "assets/app/js/services.js"}
---

{% include JB/setup %}

<div class="row">
    <div class="span4">
        <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="authenticationBySerial" name="authenticationBySerialForm" ng-controller="authenticationCtrl" ng-app="evbApp" ng-submit="authenticationBySerialSubmit(account)" >
            <div class="control-group">
                <label class="control-label" for="inputSerial">Serial</label>
                <div class="controls">
                    <input id="inputSerial" name="account.inputSerial" ng-model="account.inputSerial" ng-model-instant data-val="true" type="text" data-val-required="Serial is required." required placeholder="Serial" />
                    <span class="field-validation-valid" data-valmsg-for="inputSerial" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputKey">Key</label>
                <div class="controls">
                    <input id="inputKey" name="account.inputKey" ng-model="account.inputKey" ng-model-instant data-val="true" type="text" data-val-required="Key is required." required placeholder="Key" />
                    <span class="field-validation-valid" data-valmsg-for="inputKey" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="span4">
        <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="authenticationByEmail" name="authenticationByEmailForm" ng-controller="authenticationCtrl" ng-app="evbApp" ng-submit="authenticationByEmailSubmit(account)" >
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input id="inputEmail" name="account.inputEmail" ng-model="account.inputEmail" ng-model-instant data-val="true" type="email" data-val-required="Email is required." required placeholder="Email" />
                    <span class="field-validation-valid" data-valmsg-for="inputEmail" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input id="inputPassword" name="account.inputPassword" ng-model="account.inputPassword" ng-model-instant data-val="true" type="password" data-val-required="Password is required." required placeholder="Password" />
                    <span class="field-validation-valid" data-valmsg-for="inputPassword" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>