---
layout: page-ng
title: Dashboard
tagline: Messages history
description: Dashboard with transmitted datas
group: navigation
scripts:
- {name: validation, type: remote, url: "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: app, type: remote, url: "assets/app/js/app.js"}
- {name: controller, type: remote, url: "assets/app/js/controllers.js"}
- {name: service, type: remote, url: "assets/app/js/services.js"}
- {name: pines, type: remote, url: "assets/app/lib/jquery.pnotify.min.js"}
- {name: modernizr, type:remote, url: "assets/app/js/mdz.js"}
---

{% include JB/setup %}

<div ng-app="evbApp" ng-controller="DashboardCtrl" when-scrolled="loadMore();" ng:cloak class="container" id="fixed">
	<div class="span10">
		<h3>EVB {{"{{serial"}}}}</h3>
		<div class="pull-right">last update {{"{{lastUpdate | date:'medium' "}}}} 		<button class="btn" ng-click="checkForNewMsg();"><i class="icon-refresh icon-success"></i></button></div>
	</div>
	<div class="span10">
		<ng-switch on="messages.length == 0">
			<div ng-switch-when="true">
				<table class="table">
					<thead>
						<th>When</th>
						<th>Text</th>
						<th>Raw</th>
						<th>Station</th>
						<th>Signal</th>
					</thead>
					<tbody ng-switch>
						<tr>
							<td colspan="5"><center> <strong>No message found</strong></center></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-switch-when="false">
				<table class="table">
					<thead>
						<th>When</th>
						<th>Text</th>
						<th>Raw</th>
						<th>Station</th>
						<th>Signal</th>
					</thead>
					<tbody ng-switch>
						<tr ng-repeat="message in messages">
							<td>{{"{{message.when | date:'medium' "}}}}</td><td>{{"{{message.hr"}}}}</td><td>{{"{{message.raw"}}}}</td><td>{{"{{message.station"}}}}</td><td>{{"{{message.lvl"}}}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</ng-switch>
	</div>
</div>

<style type="text/css" media="screen">
    #fixed {
        height: 400px;
        overflow: auto;
    }
</style>