---
layout: page-ng
title: Dashboard
tagline: Messages history
description: Dashboard with transmitted datas
scripts:
- {name: validation, type: remote, url: "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: app, type: remote, url: "assets/app/js/app.js"}
- {name: controller, type: remote, url: "assets/app/js/controllers.js"}
- {name: service, type: remote, url: "assets/app/js/services.js"}
- {name: pines, type: remote, url: "assets/app/lib/jquery.pnotify.min.js"}
- {name: modernizr, type: remote, url: "assets/app/js/mdz.js"}
- {name: base64, type: remote, url: "https://stringencoders.googlecode.com/svn-history/r230/trunk/javascript/base64.js"}
- {name: popover, type: inline, content: "$(function(){$('label[rel=\"popover\"]').popover({trigger:'hover'});})"}
---

{% include JB/setup %}

<div ng-app="evbApp" ng-controller="DashboardCtrl">

    <div ng:show="displayDashboard != true" ng:cloak>
	   <div class="row">
            <div class="span5">
                <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="authenticationBySerial" name="authenticationBySerialForm" ng-controller="AuthenticationCtrl" ng-app="evbApp" ng-submit="authenticationBySerialSubmit(account, displayDashboard)" >
					<legend> Device Authentication</legend>
                    <div class="control-group">
                        <label class="control-label" for="inputSerial" rel="popover" data-placement="bottom" data-content="<p>Module id appears either on product parcel sticker<br/> either by perfoming AT&V command within a terminal session.</p>" data-html="true" data-original-title="<strong>What's this ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i>  Enter module id </a></label>
                        <div class="controls">
                            <input id="inputSerial" name="account.inputSerial" ng-model="account.inputSerial" ng-model-instant data-val="true" type="text" data-val-required="Serial is required." required placeholder="e.g XXXX, case insentitive, with no 0 padding" />
                            <span class="field-validation-valid" data-valmsg-for="inputSerial" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputKey" rel="popover" data-placement="bottom" data-content="<p>Key information appears next to Module Id information on product parcel sticker</p>" data-html="true" data-original-title="<strong>Where can I get the Key info?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i>  its key </a></label>
                        <div class="controls">
                            <input id="inputKey" name="account.inputKey" ng-model="account.inputKey" ng-model-instant data-val="true" type="text" data-val-required="Key is required." required placeholder="8 hexa chars, case insentitive" />
                            <span class="field-validation-valid" data-valmsg-for="inputKey" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success btn-large">Then get to dashoard</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="span5">
                <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="authenticationByEmail" name="authenticationByEmailForm" ng-controller="AuthenticationCtrl" ng-app="evbApp" ng-submit="authenticationByEmailSubmit(account, displayDashboard)" >
                    <legend> Member Authentication</legend>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>
                        <div class="controls">
                            <input id="inputEmail" name="account.inputEmail" ng-model="account.inputEmail" ng-model-instant data-val="true" type="email" data-val-required="Email is required." required placeholder="Member's login" />
                            <span class="field-validation-valid" data-valmsg-for="inputEmail" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input id="inputPassword" name="account.inputPassword" ng-model="account.inputPassword" ng-model-instant data-val="true" type="password" data-val-required="Password is required." required placeholder="Member's password" />
                            <span class="field-validation-valid" data-valmsg-for="inputPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary btn-large"><i class="icon-white icon-user"></i> Customer's dashboard</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div ng:show="displayDashboard == true">
			<ul class="nav nav-tabs">
			  <li class="active	"><a href="#home" data-toggle="tab"> <i class="icon-dashboard"> </i> Device dashboard</a></li>
			</ul>
			<div class="tab-content">
				<div class="row">
					<div class="span12">
						<center>last update {{"{{lastUpdate | date:'medium' "}}}} </center>
					</div>
				</div>
				<div class="tab-pane active" id="home">
					<div class="row">
						<div class="span12">
							<h3> <i class="icon-dashboard"> </i> Module {{"{{serial"}}}} status <span class="pull-right"><button type="button" class="btn btn-warning" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="logOut()" ng:show="(display == true) && (undefined != serial)" ng:cloak>Switch from {{"{{serial"}}}} </button> <button type="button" class="btn btn-warning" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="logOut()" ng:show="(display == true) && (undefined == serial)" ng:cloak>Logout</button> </span></h3>
							<div class="row" style="margin:0 auto; display:table;">
								<div class="span4">
									<ul class="unstyle inline">
										<li><a href="#" data-toggle="tooltip" data-original-title="Indicateur du niveau de battery ON / OFF"><i class="icon-bolt icon-4x snsr-{{"{{ctxt.battery"}}}}"></i></li>
										<li><i class="icon-signal icon-4x snsr-{{"{{ctxt.level"}}}}"></i></li>
										<li><i class="icon-rss icon-4x snsr-{{"{{ctxt.network"}}}}"></i></li>
										<li><i class="icon-certificate icon-4x snsr-{{"{{ctxt.temp"}}}}"></i></li>
										<li><i class="icon-exclamation-sign icon-4x snsr-{{"{{ctxt.tamper"}}}}"></i></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<h3> <i class="icon-time"> </i> History </h3>
			        	<div when-scrolled="loadMore();" ng:cloak class="container" id="fixed">
			            <ng-switch on="messages.length == 0">
			                <div ng-switch-when="true">
			                    <table class="table table-striped table-condensed table-hover">
			                        <thead>
			                            <th>Date</th>
			                            <th>Channel</th>
			                            <th>Message</th>
										<th>Payload</th>
			                        </thead>
			                        <tbody ng-switch>
			                            <tr>
			                                <td colspan="4"><center><i class="icon-spin icon-spinner"></i> No message found</center></td>
			                            </tr>
			                        </tbody>
			                    </table>
			                </div>
			                <div ng-switch-when="false">
			                    <table class="table table-striped table-condensed table-hover">
			                        <thead>
			                            <th>Date</th>
			                            <th>Channel</th>
			                            <th>Message</th>
			                            <th>Payload</th>
			                        </thead>
			                        <tbody ng-switch>
			                            <tr ng-repeat="message in messages">
			                                <td>{{"{{message.when | date:'medium' "}}}}</td>
											<td>{{"{{message.extra.ctxt.index"}}}}</td>
											<td>{{"{{message.extra.type"}}}}</td>
											<td>{{"{{message.extra.payload"}}}}</td>
			                            </tr>
										<tr>
											<td colspan="4"><center><i class="icon-spin icon-spinner"></i></center></td>
										</tr>
			                        </tbody>
			                    </table>
			                </div>
			            </ng-switch>
					</div>
						</div>
					</div>
				</div>
			</div>
    </div>
</div>