---
layout: page-ng
title: Dashboard
tagline: Transmitted Datas
description: Dashboard with transmitted datas
group: navigation
scripts:
- {name: validation, type: remote, url: "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: app, type: remote, url: "assets/js/app.js"}
- {name: controller, type: remote, url: "assets/js/controllers.js"}
---

{% include JB/setup %}

<div ng-app="DashboardApp" ng-controller="DashboardCtrl" when-scrolled="loadMore();" id="fixed" ng:cloak>
  <ul class="dashboardClass">
    <li ng-repeat="i in items">{{"{{i.id"}}}}</li>
  </ul>  
</div>

<style type="text/css" media="screen">
    ul.dashboardClass li {
        height: 120px;
        border-bottom: 1px solid gray;
    }

    #fixed {
        height: 400px;
        overflow: auto;
    }
</style>