---
layout: page-ng
title: IOT Simulator
tagline: Send IOT Messages To Your Server
description: IOT Simulator Form
scripts:
- {name: validation, type: remote, url: "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: app, type: remote, url: "assets/app/js/app.js"}
- {name: controller, type: remote, url: "assets/app/js/controllers.js"}
- {name: service, type: remote, url: "assets/app/js/services.js"}
- {name: base64, type: remote, url: "https://stringencoders.googlecode.com/svn-history/r230/trunk/javascript/base64.js"}
- name: custom
  type: inline
  content: "$(function() {$('#iotSimulator').validate();})"
---

{% include JB/setup %}

<div class="row-fluid">

    <div class="span12" ng-controller="iotSimulatorCtrl" ng-app="evbApp">

    <div ng:show="true">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#simulator" data-toggle="tab"> <i class="icon-magic"> </i> IOT Simulator</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="simulator">

                    <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="iotSimulator" name="iotSimulatorForm">
            
                        <fieldset>
            
                            <div class="control-group">
                                <label class="control-label" for="url">Callback url</label>
                                <div class="controls">
                                    <input id="url" name="simulation.url" ng-model="simulation.url" ng-model-instant data-val="true" type="url" data-val-required="Callback url is required." required placeholder="Url" />
                                    <span class="field-validation-valid" data-valmsg-for="url" data-valmsg-replace="true"></span>
                                </div>
                            </div>
            
                            <div class="control-group">
                                <label class="control-label" for="frequency">Frequency</label>
                                <div class="controls">
                                    <input id="frequency" name="simulation.frequency" ng-model="simulation.frequency" ng-model-instant data-val="true" type="number" min="1" data-val-required="Frequency is required." required placeholder="Frequency in seconds"/>
                                    <span class="field-validation-valid" data-valmsg-for="frequency" data-valmsg-replace="true"></span>
                                </div>
                            </div>
            
                            <div class="control-group">
                                <label class="control-label" for="type">Message Type</label>
                                <div class="controls">
                                    <select id="type" name="simulation.type" ng-model="simulation.type" ng-model-instant data-val="true" data-val-required="Message type is required." required ng-options="option.value as option.name for option in typeMessagesSelect"></select>
                                    <span class="field-validation-valid" data-valmsg-for="type" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="deviceserial">Device serial</label>
                                <div class="controls">
                                    <input id="deviceserial" name="simulation.deviceserial" ng-model="simulation.deviceserial" ng-model-instant data-val="true" type="text" data-val-required="Device serial is required." required placeholder="Device serial"/>
                                    <span class="field-validation-valid" data-valmsg-for="deviceserial" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="longitude">Longitude</label>
                                <div class="controls">
                                    <input id="longitude" name="simulation.longitude" ng-model="simulation.longitude" ng-model-instant data-val="true" type="text" placeholder="Longitude if known"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="latitude">Latitude</label>
                                <div class="controls">
                                    <input id="latitude" name="simulation.latitude" ng-model="simulation.latitude" ng-model-instant data-val="true" type="text" placeholder="Latitude if known"/>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="button" class="generatebt btn btn-primary" class-toggle="btn-danger" data-toggle="button" ng-click="startStopSimulation()">Start / Stop</button>
                                <input id="hits" class= "span1" name="simulation.hits" ng-model="simulation.hits" ng-model-instant data-val="true" type="text" readonly="readonly" size="5"/>
                            </div>

                            <div ng:show="generatedmessages.length > 0" ng:cloak>
                                <table class="table table-striped table-condensed table-hover">
                                    <thead>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Detail</th>
                                        <th>Url</th>
                                        <th>Device Serial</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>Msg Id</th>
                                        <th>Msg Type</th>
                                        <th>Msg Value</th>
                                    </thead>
                                    <tbody ng-switch>
                                        <tr ng-repeat="generatedmessage in generatedmessages">
                                            <td>{{"{{generatedmessage.status"}}}}</td>
                                            <td>{{"{{generatedmessage.time"}}}}</td>
                                            <td>{{"{{generatedmessage.detail"}}}}</td>
                                            <td>{{"{{generatedmessage.url"}}}}</td>
                                            <td>{{"{{generatedmessage.message.emitter.serial"}}}}</td>
                                            <td>{{"{{generatedmessage.message.msg.lng"}}}}</td>
                                            <td>{{"{{generatedmessage.message.msg.lat"}}}}</td>
                                            <td>{{"{{generatedmessage.message.id"}}}}</td>
                                            <td>{{"{{generatedmessage.message.type"}}}}</td>
                                            <td>{{"{{generatedmessage.message.msg.specific.hr"}}}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css" media="screen">
    .field-validation-error {
        color: #B94A48;
    }
</style>