---
layout: page-ng
title: Developer dashboard
tagline: Applications management
description: Dashboard with transmitted datas
scripts:
- {name: app, type: remote, url: "/assets/app/js/app.js"}
- {name: bootrap, type: remote, url: "/assets/app/lib/ui-bootstrap-tpls-0.4.0.js"}
- {name: validation, type: remote, url: "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: base64, type: remote, url: "https://stringencoders.googlecode.com/svn-history/r230/trunk/javascript/base64.js"}
- {name: pines, type: remote, url: "/assets/app/lib/jquery.pnotify.min.js"}
- {name: modernizr, type: remote, url: "/assets/app/js/mdz.js"}
- {name: service, type: remote, url: "/assets/app/js/services.js"}
- {name: controller, type: remote, url: "/assets/app/js/controllers.js"}
- {name: ngTable, type: remote, url: "/assets/app/lib/ng-table.js"}
- {name: popover, type: inline, content: "$(function(){$('[data-toggle=\"popover\"]').popover({trigger:'hover'});$('[data-toggle=\"tooltip\"]').tooltip({placement:'bottom'});})"}
- {name: angularbootstrapapp, type: inline, content: "angular.bootstrap(document, ['evbApp']);"}
---

{% include JB/setup %}

<div ng-controller="DeveloperDashboardCtrl">
    <div ng:show="_displayDashboard != true" ng:cloak>
       <div class="row" style="margin: 0 auto;display: table;">
            <div class="span5">
                <form class="form-horizontal" accept-charset="utf-8" autocomplete="off" novalidate="novalidate" id="authenticationByEmailForm" name="authenticationByEmailForm" ng-controller="AuthenticationCtrl" ng-app="evbApp" ng-submit="authenticationByEmailSubmit(inputEmail, inputPassword)" >

                    <div class="alert alert-info">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Update : </strong> March 25, 2014 : You can now change your generated password from your account details page. Please take a look at it.
                    </div>

                    <legend> Developer Authentication</legend>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail" data-toggle="popover" data-placement="bottom" data-content="<p>Developer's email used for registration.</p>" data-html="true" data-original-title="<strong>What's this ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i>  Developer's email </a></label>
                        <div class="controls">
                            <input id="inputEmail" name="inputEmail" type="email" ng-model="inputEmail" ng-model-instant data-val="true" data-val-required="<i class='icon-large icon-white icon-exclamation-sign'>" required placeholder="Developer's login"  tabindex="1"/>
                            <span class="field-validation-valid" data-valmsg-for="inputEmail" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword" data-toggle="popover" data-placement="bottom" data-content="<p>Received password after registration</p>" data-html="true" data-original-title="<strong>Where can I get the password?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i>  Password </a></label>
                        <div class="controls">
                            <input id="inputPassword" name="inputPassword" type="password" ng-model="inputPassword" ng-model-instant data-val="true" data-val-required="<i class='icon-large icon-white icon-exclamation-sign'>" required placeholder="Developer's password" tabindex="2"/>
                            <span class="field-validation-valid" data-valmsg-for="inputPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-success" tabindex="3"> Sign In </button> - or - <a href="/register.html"> Sign Up</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng:show="_displayDashboard == true" ng-controller="DeveloperDashboardCtrl">

        <h3> <i class="icon-dashboard"> </i> <span class="pull-right" style="font-size: 15px"> logged as {{"{{login"}}}}&nbsp;<button type="button" class="btn btn-warning" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="logOut()" ng:show="(_displayDashboard == true)" ng:cloak> <i class="icon-white icon-eject"></i> Logout</button></span></h3>

        <tabset>

            <tab heading="Applications" select="loadApplications()">

                <table ng-table="tableApps" class="table">
                    <tr ng-repeat="appli in appsList" ng-click="showAppliDetails(appli, $index)">
                        <td data-title="ID" sortable="id">{{"{{appli.id"}}}}</td>
                        <td data-title="KEY" sortable="key">{{"{{appli.key"}}}}</td>
                        <td data-title="NAME" sortable="name">{{"{{appli.name"}}}}</td>
                        <td data-title="DESCRIPTION" >{{"{{appli.description"}}}}</td>
                        <td data-title="CREATED" sortable="created">{{"{{appli.created"}}}}</td>
                        <td data-title="&nbsp;"> <button ng-click="deleteAppli(appli, $index, $event)" class="btn btn-danger"> <i class="icon-white icon-minus-sign"></i> Delete</button> </td>
                    </tr>
                    <tr ng:show="!appsList.length">
                        <td colspan="6"><center><i class="icon-white icon-thumbs-down"></i> No application found</center></td>
                    </tr>
                </table>

                <button class="btn btn-primary" ng-click="showAppliDetails({})"> <i class="icon-white icon-plus-sign"></i> Add</button>

                <div class="appModal modal hide fade">
                    <div class="modal-header">
                        <h3>Application : {{"{{appli.name"}}}}</h3>
                    </div>
                    <div class="modal-body">
                        <tabset>
                            <tab heading="Details">
                                <label>Name*</label>
                                <input type="text" ng-model="appli.name" ng-model-instant data-val="true"data-val-required="Name is required." required/>
                                <label>callbackurl*</label>
                                <input type="text" ng-model="appli.callbackurl" ng-model-instant data-val="true"data-val-required="callbackurl is required." required/>
                                <label>description</label>
                                <input type="text" ng-model="appli.description" />
                                <label ng:show="appli.id != undefined">created</label>
                                <input type="text" ng-model="appli.created" readonly="true" ng:show="appli.id != undefined"/>
                                <label ng:show="appli.id != undefined">key</label>
                                <input type="text" ng-model="appli.key" readonly="true" ng:show="appli.id != undefined"/>
                                <label ng:show="appli.id != undefined">secret</label>
                                <input type="text" ng-model="appli.secret" readonly="true" ng:show="appli.id != undefined"/>
                            </tab>
                            <tab heading="Modules" >
                                <div id="ModulesList">
                                    <h3>Attached : {{"{{appli.modules.length"}}}}</h3>
                                    <ul>
                                        <li class="alert alert-info nomargin" ng-repeat="item in appli.modules">{{"{{item.serial"}}}}-<button ng-click="toggleDetach(item,$index)">Detach</button></li>
                                    </ul>
                                    <h3>Availables : {{"{{appli.availablesModules.length"}}}}</h3>
                                    <ul>
                                        <li class="alert alert-error nomargin" ng-repeat="item in appli.availablesModules">{{"{{item.serial"}}}}-<button ng-click="toggleAttach(item,$index)">Attach</button></li>
                                    </ul>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="saveAppli()">Save</button>
                        <button class="btn" ng-click="cancelAppli()">Cancel</button>
                    </div>
                </div>

            </tab>

            <tab heading="Registered Modules" select="loadDevices()">

                <table ng-table="tableDevices" class="table">
                    <tr ng-repeat="device in devicesList">
                        <td data-title="ID" sortable="id">
                        {{"{{device.id"}}}}
                        </td>
                        <td data-title="SERIAL" sortable="serial">
                        {{"{{device.serial"}}}}
                        </td>
                    </tr>
                    <tr ng:show="!devicesList.length">
                        <td colspan="2"><center><i class="icon-white icon-thumbs-down"></i> No registered modules found</center></td>
                    </tr>
                </table>

                <button class="btn btn-primary" ng-click="showDeviceDetails({})">  <i class="icon-white icon-plus-sign"></i> Add</button>

                <button type="button" class="btn btn-success" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="getPacsFromId()">
                    <i class="icon-white icon-download"></i> Download PAC
                </button>

                <div class="deviceModal modal hide fade">
                    <div class="modal-header">
                        <h3>Module</h3>
                    </div>
                    <div class="modal-body">
                        <label>serial *</label>
                        <input type="text" ng-model="device.serial" ng-model-instant data-val="true"data-val-required="Name is required." required/>
                        <label>key *</label>
                        <input type="text" ng-model="device.key" ng-model-instant data-val="true"data-val-required="Name is required." required/>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="saveDevice()">Save</button>
                        <button class="btn" ng-click="cancelDevice()">Cancel</button>
                    </div>
                </div>
            </tab>

            <tab heading="IOT Callbacks Simulator" select="loadSimulator()">

                <div id="simulator">

                    <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="iotSimulator" name="iotSimulatorForm">
            
                        <div class="control-group">
                            <label class="control-label" for="url">Callback url</label>
                            <div class="controls">
                                <input id="url" name="simulation.url" ng-model="simulation.url" ng-model-instant data-val="true" type="url" data-val-required="Callback url is required." required placeholder="Url" />
                                <span class="field-validation-valid" data-valmsg-for="url" data-valmsg-replace="true"></span>
                            </div>
                        </div>
        
                        <div class="control-group">
                            <label class="control-label" for="frequency">Frequency</label>
                            <div class="controls">
                                <input id="frequency" name="simulation.frequency" ng-model="simulation.frequency" ng-model-instant data-val="true" type="range" min="5" max="10" data-val-required="Frequency is required." required placeholder="Frequency in seconds" onchange="printRangeValue('frequency','frequencyvalue', ' sec')"/>
                                <input id="frequencyvalue" class= "span1" type="text" size="2" readonly="readonly" />
                            </div>
                        </div>
        
                        <div class="control-group">
                            <label class="control-label" for="type">Message Type</label>
                            <div class="controls">
                                <select id="type" name="simulation.type" ng-model="simulation.type" ng-model-instant data-val="true" data-val-required="Message type is required." required ng-options="option.value as option.name for option in typeMessagesSelect"></select>
                                <span class="field-validation-valid" data-valmsg-for="type" data-valmsg-replace="true"></span>
                            </div>
                        </div>
    
                        <div class="control-group">
                            <label class="control-label" for="deviceserial">Device serial</label>
                            <div class="controls">
                                <input id="deviceserial" name="simulation.deviceserial" ng-model="simulation.deviceserial" ng-model-instant data-val="true" type="text" data-val-required="Device serial is required." required placeholder="Device serial"/>
                                <span class="field-validation-valid" data-valmsg-for="deviceserial" data-valmsg-replace="true"></span>
                            </div>
                        </div>
    
                        <div class="control-group">
                            <label class="control-label" for="longitude">Longitude</label>
                            <div class="controls">
                                <input id="longitude" name="simulation.longitude" ng-model="simulation.longitude" ng-model-instant data-val="true" type="text" placeholder="Longitude if known"/>
                            </div>
                        </div>
    
                        <div class="control-group">
                            <label class="control-label" for="latitude">Latitude</label>
                            <div class="controls">
                                <input id="latitude" name="simulation.latitude" ng-model="simulation.latitude" ng-model-instant data-val="true" type="text" placeholder="Latitude if known"/>
                            </div>
                        </div>
    
                        <div class="form-actions">
                            <button type="button" class="generatebt btn btn-primary" class-toggle="btn-danger" data-toggle="button" ng-click="startStopSimulation()">Start / Stop</button>
                            <input id="hits" class= "span1" name="simulation.hits" ng-model="simulation.hits" ng-model-instant data-val="true" type="text" readonly="readonly" size="5"/>
                            <button type="button" class="btn btn-secondary" ng-click="resetMessages()">Clear Messages</button>
                        </div>
    
                    </form>

                    <div>

                        <div class="span11">
                            <h3>Callback Messages</h3>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Result</th>
                                        <th>Url</th>
                                        <th>Serial</th>
                                        <th>Lng</th>
                                        <th>Lat</th>
                                        <th>Id</th>
                                        <th>Type</th>
                                        <th>Raw</th>
                                    </thead>
                                    <tbody ng-switch>
                                        <div ng:show="generatedmessages.length > 0" ng:cloak>
                                            <tr ng-repeat="generatedmessage in generatedmessages">
                                            <td>{{"{{generatedmessage.status"}}}}</td>
                                            <td>{{"{{generatedmessage.time"}}}}</td>
                                            <td><span title="{{"{{generatedmessage.detail"}}}}">{{"{{generatedmessage.summary"}}}}</span></td>
                                            <td>{{"{{generatedmessage.url"}}}}</td>
                                            <td>{{"{{generatedmessage.message.msg.ctx.serial"}}}}</td>
                                            <td>{{"{{generatedmessage.message.msg.ctx.position.longitude"}}}}</td>
                                            <td>{{"{{generatedmessage.message.msg.ctx.position.latitude"}}}}</td>
                                            <td>{{"{{generatedmessage.message.id"}}}}</td>
                                            <td ng:show="generatedmessage.type == 'RANDOM' ">{{"{{generatedmessage.message.msg.type"}}}}</td>
                                            <td ng:hide="generatedmessage.type == 'RANDOM' ">{{"{{generatedmessage.type"}}}}</td>
                                            <td>{{"{{generatedmessage.message.msg.payload"}}}}</td>
                                            </tr>
                                        </div>
                                    </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </tab>

            <tab heading="My Account" select="loadInformations()" >
                <tabset>
                    <tab heading="General" >
                        <div class="container">
                            <div class="row">

                                <div class="span6">

                                    <div class="control-group">
                                        <label class="control-label" for="email">Email</label>
                                        <div class="controls">
                                            <input id="email" name="email" ng-model="account.email" ng-model-instant type="text" readonly="true" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="firstname">First name</label>
                                        <div class="controls">
                                            <input id="firstname" name="firstname" ng-model="account.firstname" ng-model-instant type="text" readonly="true" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="lastname">Last name</label>
                                        <div class="controls">
                                            <input id="lastname" name="lastname" ng-model="account.lastname" ng-model-instant type="text" readonly="true" />
                                        </div>
                                    </div>

                                    <div ng-controller="RegistrationCtrl" ng-app="evbApp">
                                        <button type="button" class="btn btn-danger" ng-click="deleteClick()"> <i class="icon-white icon-remove-sign"></i> Delete my account</button>
                                    </div>

                                </div>

                                <div>

                                    <div class="control-group">
                                        <label class="control-label" for="currentpassword">Current password</label>
                                        <div class="controls">
                                            <input id="currentpassword" name="currentpassword" ng-model="account.currentpassword" ng-model-instant type="password" onchange="validatePassword();" value="" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="newpassword" data-toggle="popover" data-placement="top" data-content="<p>Password must contain at least six characters, including uppercase, lowercase letters and numbers.</p>" data-html="true" data-original-title="<strong>Password Policy</strong>"><a href="#"><i class="icon-question-sign icon-large"></i></a>  New password </label>
                                        <div class="controls">
                                            <input id="newpassword" name="newpassword" ng-model="account.newpassword" ng-model-instant type="password" onchange="validatePassword();" value="" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="confirmpassword">Confirm password</label>
                                        <div class="controls">
                                            <input id="confirmpassword" name="confirmpassword" ng-model="account.confirmpassword" ng-model-instant type="password" onchange="validatePassword();" value="" />
                                        </div>
                                    </div>

                                    <div ng-controller="RegistrationCtrl" ng-app="evbApp">
                                        <button id="changeButtonId" type="button" class="btn btn-primary" ng-click="changePasswordClick()" disabled="disabled"> <i class="icon-white icon-ok"></i> Change my password</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </tab>

                    <tab heading="GitHub" >
                        <div class="span9" ng-controller="RegistrationCtrl" ng-app="evbApp">
                            <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="registration" name="registrationForm" ng-submit="registrationSubmit(account)">
                                <div class="control-group">
                                    <label class="control-label" for="gitid" data-toggle="popover" data-placement="bottom" data-content="<p>To access our GitHub repositories.</p>" data-html="true" data-original-title="<strong>Why ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i></a>  Git alias </label>
                                    <div class="controls">
                                        <input id="gitid" name="gitid" ng-model="account.gitid" ng-model-instant data-val="true" type="text" required class="required" data-val-required="''"/>
                                        <span class="field-validation-valid" data-valmsg-for="gitid" data-valmsg-replace="true"></span>
                                        <button type="button" class="btn btn-success" ng-click="updateGit()" data-ng-disabled="registrationForm.$invalid" > <i class="icon-white icon-user"></i> Register my GitHub account</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </tab>
                </tabset>
            </tab>

        </tabset>

    </div>
</div>
