---
layout: page-ng
title: Developer dashboard
tagline: Applications management
description: Dashboard with transmitted datas
scripts:
- {name: app, type: remote, url: "/assets/app/js/app.js"}
- {name: bootrap, type: remote, url: "/assets/app/lib/ui-bootstrap-tpls-0.4.0.js"}
- {name: validation, type: remote, url: "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: base64, type: remote, url: "https://stringencoders.googlecode.com/svn-history/r230/trunk/javascript/base64.js"}
- {name: pines, type: remote, url: "/assets/app/lib/jquery.pnotify.min.js"}
- {name: modernizr, type: remote, url: "/assets/app/js/mdz.js"}
- {name: service, type: remote, url: "/assets/app/js/services.js"}
- {name: controller, type: remote, url: "/assets/app/js/controllers.js"}
- {name: ngTable, type: remote, url: "/assets/app/lib/ng-table.js"}
- {name: popover, type: inline, content: "$(function(){$('[data-toggle=\"popover\"]').popover({trigger:'hover'});$('[data-toggle=\"tooltip\"]').tooltip({placement:'bottom'});})"}
- {name: angularbootstrapapp, type: inline, content: "angular.bootstrap(document, ['evbApp']);"}
---

{% include JB/setup %}

<div ng-controller="DeveloperDashboardCtrl">
    <div ng:show="_displayDashboard != true" ng:cloak>
       <div class="row" style="margin: 0 auto;display: table;">
            <div class="span5">

                <h3> Dashboard Features <small>based on Developer API</small></h3>
                <p>
                    At application level, one can perform CRUD operation on application, and
                    <ul>
                        <li>manage modules association,</li>
                        <li>manage remote backend callback definition,</li>
                        <li>try our IOT Callback simulator,</li>
                        <li>decode any UDM frame,</li>
                        <li>register your GitHub account,</li>
                        <li>... and so much more !</li>
                    </ul>
                </p>

                <form class="form-horizontal" accept-charset="utf-8" autocomplete="off" novalidate="novalidate" id="authenticationByEmailForm" name="authenticationByEmailForm" ng-controller="AuthenticationCtrl" ng-submit="authenticationByEmailSubmit()" >
                    
                    <legend> Developer Authentication</legend>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail" data-toggle="popover" data-placement="bottom" data-content="<p>Developer's email used for registration.</p>" data-html="true" data-original-title="<strong>What's this ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i>  Email </a></label>
                        <div class="controls">
                            <input id="inputEmail" name="inputEmail" type="email" ng-model="inputEmail" ng-model-instant data-val="true" data-val-required="<i class='icon-large icon-white icon-exclamation-sign'>" required tabindex="1" class="required" />
                            <span class="field-validation-valid" data-valmsg-for="inputEmail" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword" data-toggle="popover" data-placement="bottom" data-content="<p>Received password after registration.</p>" data-html="true" data-original-title="<strong>Where can I get the password?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i>  Password </a></label>
                        <div class="controls">
                            <input id="inputPassword" name="inputPassword" type="password" ng-model="inputPassword" ng-model-instant data-val="true" data-val-required="<i class='icon-large icon-white icon-exclamation-sign'>" required tabindex="2" class="required" />
                            <span class="field-validation-valid" data-valmsg-for="inputPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" ng-disabled="loginUnauthorized" class="btn btn-success" tabindex="3"> Sign In </button> - or - <a href="/register.html"> Sign Up</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div ng:show="_displayDashboard == true" ng-controller="DeveloperDashboardCtrl" >

        <h3> <i class="icon-dashboard"> </i> <span class="pull-right" style="font-size: 15px"><button type="button" class="btn btn-warning" ng-controller="LogOutCtrl" ng-click="logOut()" ng:show="(_displayDashboard == true)" ng:cloak> <i class="icon-white icon-eject"></i> Logout from {{"{{login"}}}}</button></span></h3>

        <tabset>

            <tab heading="Applications" select="loadApplications()">

                <table ng-table="tableApps" class="table">
                    <tr ng-repeat="appli in appsList" ng-click="showAppliDetails(appli, $index)">
                        <td data-title="ID" sortable="id">{{"{{appli.id"}}}}</td>
                        <td data-title="KEY" sortable="key">{{"{{appli.key"}}}}</td>
                        <td data-title="NAME" sortable="name">{{"{{appli.name"}}}}</td>
                        <td data-title="DESCRIPTION" >{{"{{appli.description"}}}}</td>
                        <td data-title="CREATED" sortable="created">{{"{{appli.created"}}}}</td>
                        <td data-title="OPERATIONS"> <button ng-click="deleteAppli(appli, $index, $event)" class="btn btn-danger"> <i class="icon-white icon-minus-sign"></i> Delete</button> </td>
                    </tr>
                    <tr ng:show="!appsList.length">
                        <td colspan="6"><center><i class="icon-white icon-thumbs-down"></i> No application found</center></td>
                    </tr>
                </table>

                <button class="btn btn-primary" ng-click="showAppliDetails({})"> <i class="icon-white icon-plus-sign"></i> Add</button>

                <div class="appModal modal hide fade">
                    <div class="modal-header">
                        <h3>Application : {{"{{appli.name"}}}}</h3>
                    </div>
                    <div class="modal-body">
                        <tabset>
                            <tab heading="Details">
                                <label for="createname">Name</label>
                                <input id="createname" type="text" ng-model="appli.name" ng-model-instant data-val="true"data-val-required="Name is required." required class="required span4" />
                                <label for="createurl">Callback Url</label>
                                <input id="createurl" type="text" ng-model="appli.callbackurl" ng-model-instant data-val="true"data-val-required="callbackurl is required." required class="required span4" />
                                <label for="createdesc">Description</label>
                                <input id="createdesc" type="text" ng-model="appli.description" class="span4" />
                                <label for="createcreated" ng:show="appli.id != undefined">Created</label>
                                <input id="createcreated" type="text" ng-model="appli.created" readonly="true" ng:show="appli.id != undefined" class="span4" />
                                <label for="createkey" ng:show="appli.id != undefined">Key</label>
                                <input id="createkey" type="text" ng-model="appli.key" readonly="true" ng:show="appli.id != undefined" class="span4" />
                                <label for="createsecret" ng:show="appli.id != undefined">Secret</label>
                                <input id="createsecret" type="text" ng-model="appli.secret" readonly="true" ng:show="appli.id != undefined" class="span4" />
                            </tab>
                            <tab heading="Modules" >
                                <div id="ModulesList">
                                    <h3>Attached : {{"{{appli.modules.length"}}}}</h3>
                                    <ul>
                                        <li class="alert alert-info nomargin" ng-repeat="item in appli.modules">{{"{{item.serial"}}}}-<button ng-click="toggleDetach(item,$index)">Detach</button></li>
                                    </ul>
                                    <h3>Availables : {{"{{appli.availablesModules.length"}}}}</h3>
                                    <ul>
                                        <li class="alert alert-error nomargin" ng-repeat="item in appli.availablesModules">{{"{{item.serial"}}}}-<button ng-click="toggleAttach(item,$index)">Attach</button></li>
                                    </ul>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="saveAppli()">Save</button>
                        <button class="btn" ng-click="cancelAppli()">Cancel</button>
                    </div>
                </div>

            </tab>

            <tab heading="Registered Modules" select="loadDevices()">

                <table ng-table="tableDevices" class="table span6">
                    <tr ng-repeat="device in devicesList">
                        <td data-title="ID" sortable="id">
                        {{"{{device.id"}}}}
                        </td>
                        <td data-title="SERIAL" sortable="serial">
                        {{"{{device.serial"}}}}
                        </td>
                        <td data-title="OPERATIONS">
                            <button ng-click="editDeviceDetails(device, $index)" class="btn btn-info"> <i class="icon-white icon-cog"></i> Details </button> | <button ng-click="unregisterModule(device, $index)" class="btn btn-danger"> <i class="icon-white icon-minus-sign"></i> Unregister </button>
                        </td>
                    </tr>
                    <tr ng:show="!devicesList.length">
                        <td colspan="3"><center><i class="icon-white icon-thumbs-down"></i> No registered modules found</center></td>
                    </tr>
                </table>

                <div class="span10">
                    <button class="btn btn-primary" ng-click="showDeviceDetails({})">  <i class="icon-white icon-plus-sign"></i> Add</button>
                    <button type="button" class="btn btn-success" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="getPacsFromId()">
                        <i class="icon-white icon-download"></i> Download PAC
                    </button>
                </div>


                <div class="editDeviceModal modal hide fade">
                    <div class="modal-header">
                        <h3>Module</h3>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="span2" for="idinput">Id</label>
                            <div>
                                <input id="idinput" type="text" ng-model="device.id" readonly="true" class="required" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="span2" for="serialinput">Serial</label>
                            <div>
                                <input id="serialinput" type="text" ng-model="device.serial" readonly="true" class="required" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="span2" for="lastseeninput">Last seen</label>
                            <div>
                                <input id="lastseeninput" type="text" ng-model="device.lastseen" readonly="true" class="required" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label span2" for="addstatus">Functional Status</label>
                            <div class="controls">
                                <input id="addstatus" type="text" ng-model="device.status" ng-model-instant data-val="true"/>
                                <button class="btn btn-primary" ng-click="saveStatusEditDeviceModal()">Save</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label span2" for="addbidirval">Bidir Value</label>
                            <div class="controls">
                                <input id="addbidirval" type="text" ng-model="device.bidirval" ng-model-instant data-val="true"/>
                                <button class="btn btn-primary" ng-click="saveBidirvalEditDeviceModal()">Save</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label span2" for="addactive">Active Flag</label>
                            <div class="controls">
                                <input id="addactive" type="text" ng-model="device.active" readonly="true" ng-model-instant data-val="true"/>
                                <button class="btn btn-primary" ng-click="saveActiveEditDeviceModal()">Toggle</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label span2" for="addwatched">Watch Flag</label>
                            <div class="controls">
                                <input id="addwatched" type="text" ng-model="device.watched" readonly="true" ng-model-instant data-val="true"/>
                                <button class="btn btn-primary" ng-click="saveWatchedEditDeviceModal()">Toggle</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="cancelEditDeviceModal()">Cancel</button>
                    </div>
                </div>

                <div class="deviceModal modal hide fade">
                    <div class="modal-header">
                        <h3>Module</h3>
                    </div>
                    <div class="modal-body">

                        <div class="control-group">
                            <label class="control-label span2" for="addsn">Serial</label>
                            <div class="controls">
                                <input id="addsn" type="text" ng-model="device.serial" ng-model-instant data-val="true" data-val-required="Name is required." required class="required" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label span2" for="addkey" data-toggle="popover" data-placement="top" data-content="<p>Key information appears either next to module Id information on product parcel sticker (8 hexa chars, case insentitive), either as a #PAC given by your module provider (16 hexa chars, case insentitive).<br/></p>" data-html="true" data-original-title="<strong>Where can I get the key info ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i></a>  Module key </label>
                            <div class="controls">
                                <input id="addkey" type="text" ng-model="device.key" ng-model-instant data-val="true" data-val-required="Key is required." required class="required" />
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="saveDevice()">Save</button>
                        <button class="btn" ng-click="cancelDevice()">Cancel</button>
                    </div>
                </div>
            </tab>

            <tab heading="IOT Callbacks Simulator" select="loadSimulator()">

                <div id="simulator">

                    <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="iotSimulator" name="iotSimulatorForm">

                        <div class="control-group">
                            <label class="control-label" for="url">Callback url</label>
                            <div class="controls">
                                <input id="url" name="simulation.url" ng-model="simulation.url" ng-model-instant data-val="true" type="url" data-val-required="Callback url is required." required placeholder="Url" />
                                <span class="field-validation-valid" data-valmsg-for="url" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="frequency">Frequency</label>
                            <div class="controls">
                                <input id="frequency" name="simulation.frequency" ng-model="simulation.frequency" ng-model-instant data-val="true" type="range" min="5" max="10" data-val-required="Frequency is required." required placeholder="Frequency in seconds" onchange="printRangeValue('frequency','frequencyvalue', ' sec')"/>
                                <input id="frequencyvalue" class= "span1" type="text" size="2" readonly="readonly" />
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="button" class="generatebt btn btn-primary" class-toggle="btn-danger" data-toggle="button" ng-click="startStopSimulation()">Start / Stop</button>
                            <input id="hits" class= "span1" name="simulation.hits" ng-model="simulation.hits" ng-model-instant data-val="true" type="text" readonly="readonly" size="5"/>
                            <button type="button" class="btn btn-secondary" ng-click="resetMessages()">Clear Messages</button>
                        </div>

                    </form>

                    <div>

                        <div class="span11">
                            <h3>Callback Messages</h3>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Url</th>
                                        <th>Callback</th>
                                        <th>App Key</th>
                                        <th>App Id</th>
                                    </thead>
                                    <tbody ng-switch>
                                        <div ng:show="generatedmessages.length > 0" ng:cloak>
                                            <tr ng-repeat="generatedmessage in generatedmessages">
                                                <td>{{"{{generatedmessage.status"}}}}</td>
                                                <td>{{"{{generatedmessage.time"}}}}</td>
                                                <td>{{"{{generatedmessage.url"}}}}</td>
                                                <td><span title="{{"{{generatedmessage.callback"}}}}">{{"{{generatedmessage.summary"}}}}</span></td>
                                                <td>{{"{{generatedmessage.appkey"}}}}</td>
                                                <td>{{"{{generatedmessage.appid"}}}}</td>
                                            </tr>
                                        </div>
                                    </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </tab>

            <tab heading="UDM Frame Decoder" select="loadDecoder()">
                <div id="decoder">
                    <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="iotDecoder" name="iotDecoderForm">

                        <div class="control-group">
                            <label class="control-label" for="url">Sigfox Frame</label>
                            <div class="controls">
                                <input id="frame" name="decoder.frame" ng-model="decoder.frame" ng-model-instant data-val="true" type="text" data-val-required="Frame is required." required placeholder="Frame" />
                                <span class="field-validation-valid" data-valmsg-for="frame" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="type">UDM Protocol</label>
                            <div class="controls">
                                <select id="protocol" name="decoder.protocol" ng-model="decoder.protocol" ng-model-instant data-val="true" data-val-required="Protocol is required." required ng-options="option.value as option.name for option in udmProtocolSelect"></select>
                                <span class="field-validation-valid" data-valmsg-for="protocol" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" class="btn btn-primary"  ng-click="decode()">Decode</button>
                        </div>
                    </form>
                    <div>
                        <div class="span4">
                            <h3>Decoded Informations</h3>
                                <table class="table table-striped table-hover">
                                    <tbody ng-switch>
                                        <div ng:show="decodedmessages.length > 0" ng:cloak>
                                            <tr ng-repeat="message in decodedmessages">
                                                <td>{{"{{message"}}}}</td>
                                            </tr>
                                        </div>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </tab>

            <tab heading="My Account" select="loadInformations()" >
                <tabset>
                    <tab heading="General" >
                        <div class="container">
                            <div class="row">

                                <div class="span4">

                                    <div class="control-group">
                                        <label class="control-label" for="email">Email</label>
                                        <div class="controls">
                                            <input id="email" name="email" ng-model="account.email" ng-model-instant type="text" readonly="true" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="firstname">First name</label>
                                        <div class="controls">
                                            <input id="firstname" name="firstname" ng-model="account.firstname" ng-model-instant type="text" readonly="true" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="lastname">Last name</label>
                                        <div class="controls">
                                            <input id="lastname" name="lastname" ng-model="account.lastname" ng-model-instant type="text" readonly="true" />
                                        </div>
                                    </div>

                                    <div ng-controller="RegistrationCtrl" ng-app="evbApp">
                                        <button type="button" class="btn btn-danger" ng-click="deleteClick()"> <i class="icon-white icon-remove-sign"></i> Delete my account</button>
                                    </div>

                                </div>

                                <div class="span4">

                                    <div class="control-group">
                                        <label class="control-label" for="currentpassword">Current password</label>
                                        <div class="controls">
                                            <input id="currentpassword" name="currentpassword" ng-model="account.currentpassword" ng-model-instant type="password" onKeyup="validatePassword();" value="" class="required" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="newpassword" data-toggle="popover" data-placement="top" data-content="<p>Password must contain at least six characters, including uppercase, lowercase letters and numbers.</p>" data-html="true" data-original-title="<strong>Password Policy</strong>"><a href="#"><i class="icon-question-sign icon-large"></i></a>  New password </label>
                                        <div class="controls">
                                            <input id="newpassword" name="newpassword" ng-model="account.newpassword" ng-model-instant type="password" onKeyup="validatePassword();" value="" class="required" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="confirmpassword">Confirm password</label>
                                        <div class="controls">
                                            <input id="confirmpassword" name="confirmpassword" ng-model="account.confirmpassword" ng-model-instant type="password" onKeyup="validatePassword();" value="" class="required" />
                                        </div>
                                    </div>

                                    <div ng-controller="RegistrationCtrl" ng-app="evbApp">
                                        <button id="changeButtonId" type="button" class="btn btn-primary" ng-click="changePasswordClick()" disabled="disabled"> <i class="icon-white icon-ok"></i> Change my password</button>
                                    </div>

                                </div>

                                <div>
                                    <div class="control-group">
                                        <label class="control-label" for="token" >My Authentication Token</label>
                                        <div class="controls">
                                            <input id="token" name="token" ng-model="account.token" ng-model-instant type="text" readonly="true" style=" width:275px !important;" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </tab>

                    <tab heading="GitHub" >
                        <div class="span9" ng-controller="RegistrationCtrl" ng-app="evbApp">
                            <form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="registration" name="registrationForm" ng-submit="registrationSubmit(account)">
                                <div class="control-group">
                                    <label class="control-label" for="gitid" data-toggle="popover" data-placement="bottom" data-content="<p>To access our GitHub repositories.</p>" data-html="true" data-original-title="<strong>Why ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i></a>  Git alias </label>
                                    <div class="controls">
                                        <input id="gitid" name="gitid" ng-model="account.gitid" ng-model-instant data-val="true" type="text" required class="required" data-val-required="''"/>
                                        <span class="field-validation-valid" data-valmsg-for="gitid" data-valmsg-replace="true"></span>
                                        <button type="button" class="btn btn-success" ng-click="updateGit()" data-ng-disabled="registrationForm.$invalid" > <i class="icon-white icon-user"></i> Register my GitHub account</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </tab>
                </tabset>
            </tab>

        </tabset>

    </div>
</div>
