---
layout: page-ng
title: Device dashboard
tagline: Messages history
description: Dashboard with transmitted datas
scripts:
- {name: validation, type: remote, url: "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: modernizr, type: remote, url: "/assets/app/js/mdz.js"}
- {name: base64, type: remote, url: "https://stringencoders.googlecode.com/svn-history/r230/trunk/javascript/base64.js"}
- {name: pines, type: remote, url: "/assets/app/lib/jquery.pnotify.min.js"}
- {name: service, type: remote, url: "/assets/app/js/services.js"}
- {name: controller, type: remote, url: "/assets/app/js/controllers.js"}
- {name: bootrap, type: remote, url: "/assets/app/lib/ui-bootstrap-tpls-0.4.0.js"}
- {name: ngTable, type: remote, url: "/assets/app/lib/ng-table.js"}
- {name: app, type: remote, url: "/assets/app/js/app.js"}
- {name: popover, type: inline, content: "$(function(){$('[data-toggle=\"popover\"]').popover({trigger:'hover'});$('[data-toggle=\"tooltip\"]').tooltip({placement:'bottom'});})"}
- {name: angularbootstrapapp, type: inline, content: "angular.bootstrap(document, ['evbApp']);"}
---

{% include JB/setup %}

<div ng-controller="DashboardCtrl" >
	<div ng:show="_displayDashboard != true" ng:cloak>
		<div class="row" style="margin: 0 auto;display: table;">
			<div class="span5">
				<form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="authenticationBySerial" name="authenticationBySerialForm" ng-controller="AuthenticationCtrl" ng-app="evbApp" ng-submit="authenticationBySerialSubmit(account, displayDashboard)" >
					<legend>
						Device Authentication
					</legend>
					<div class="control-group">
						<label class="control-label" for="inputSerial" data-toggle="popover" data-placement="bottom" data-content="<p>Module id appears either on product parcel sticker<br/> either by perfoming AT&V command within a terminal session.</p>" data-html="true" data-original-title="<strong>What's this ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i> Enter module id </a></label>
						<div class="controls">
							<input id="inputSerial" name="account.inputSerial" ng-model="account.inputSerial" ng-model-instant data-val="true" type="text" data-val-required="Serial is required." required placeholder="e.g XXXX, case insentitive, with no 0 padding" tabindex="1"/>
							<span class="field-validation-valid" data-valmsg-for="inputSerial" data-valmsg-replace="true"></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputKey" data-toggle="popover" data-placement="bottom" data-content="<p>Key information appears next to Module Id information on product parcel sticker</p>" data-html="true" data-original-title="<strong>Where can I get the Key info?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i> its key </a></label>
						<div class="controls">
							<input id="inputKey" name="account.inputKey" ng-model="account.inputKey" ng-model-instant data-val="true" type="text" data-val-required="Key is required." required placeholder="8 hexa chars, case insentitive"  tabindex="2"/>
							<span class="field-validation-valid" data-valmsg-for="inputKey" data-valmsg-replace="true"></span>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-success btn-large" tabindex="3">
								<i class="icon-dashboard"> </i> Then get to dashoard
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row" style="margin: 0 auto;display: table;">
			<div class="span5">
				<h3><i class="icon-large icon-warning-sign"></i></h3> If you're using TD1202 module with software version 1117, please upgrade your firmware to 1154 and read last updated documentation in <a href="{{site.production_url}}/cloud-on-chip/td1202/download.html">download</a> section.
			</div>
		</div>
	</div>
	<div ng:show="_displayDashboard == true">
		<div class="row">
			<div class="span12">
				<center>
					last update {{"{{_lastUpdate | date:'medium' "}}}}
				</center>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h3><i class="icon-dashboard"> </i> Module {{"{{_serial"}}}} status <span class="pull-right">
                    <button type="button" class="btn btn-success" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="getPacsFromId()" ng:show="(_display == true) && (undefined != _serial)" ng:cloak>
                        <i class="icon-white icon-download"></i> Download PAC
                    </button>
					<button type="button" class="btn btn-warning" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="logOut()" ng:show="(_display == true) && (undefined != _serial)" ng:cloak>
						<i class="icon-white icon-eject"></i> Switch from {{"{{_serial"}}}}
					</button>
					<button type="button" class="btn btn-warning" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="logOut()" ng:show="(display == true) && (undefined == _serial)" ng:cloak>
						Logout
					</button> </span></h3>
				<div ng:show="_devices == 0">
					<center>
						<i class="icon-spinner icon-spin"></i>
					</center>
				</div>
				<div ng:show="_devices > 0">
					<div class="well span4 fade in" ng-repeat="(id, d) in _devicesMap">
						<div class="modal-header">
							<i class="icon-hdd icon-2x snsr-{{"{d.uid"}}}}"></i><span class="label label-info">{{"{{d.uid"}}}}</span> </a> | <span class="badge badge-success">{{"{{d.index"}}}}</span> | <span class="label label-warning">{{"{{d.category"}}}}</span>
						</div>
						<div id="modal-body">
							Since {{"{{d.firstseen|date:'dd MM'"}}}}
						</div>
						<div class="modal-footer">
							<ul class="unstyle inline">
								<li class="pull-left">
									<a href="#" class="indicator" data-toggle="popover" data-placement="bottom" data-original-title="Device information" data-content="<p>{{"{{d.uid"}}}}<br/></p>" data-html="true"></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" data-original-title="Battery status indicator : {{"{{d.battery"}}}}"><i class="icon-bolt icon-2x snsr-{{"{{d.battery | lowercase"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" data-original-title="Sigfox wireless signal status indicator : {{"{{d.level"}}}}"><i class="icon-signal icon-2x snsr-{{"{{d.level | lowercase"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" data-original-title="Local network connection status indicator : {{"{{d.network"}}}}"><i class="icon-rss icon-2x snsr-{{"{{d.network | lowercase"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" data-original-title="Temperature status indicator : {{"{{d.temp"}}}}"><i class="icon-certificate icon-2x snsr-{{"{{d.temp | lowercase"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" data-original-title="Switch status indicator : {{"{{d.tamper"}}}}"><i class="icon-exclamation-sign icon-2x snsr-{{"{{d.tamper | lowercase"}}}}"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="span2 pull-right">
				<a href="#history" class="btn btn-info" data-toggle="modal" > <i class="icon-white icon-list-alt"></i> Show details</a>
			</div>
		</div>

		<div id="history" class="modal hide fade in container">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3><i class="icon-time"> </i> History </h3>
			</div>
			<div class="modal-body">
				<div when-scrolled="loadMore();" ng:cloak id="fixed">
					<div ng:show="_messages.length == 0">
						<table class="table table-striped table-condensed table-hover">
							<thead>
								<th>Emission Date</th>
								<th>Reception Date</th>
								<th>Index</th>
								<th>Msg</th>
								<th>[Payload]</th>
								<th>Lvl</th>
							</thead>
							<tbody ng-switch>
								<tr>
									<td colspan="6">
									<center>
										<i class="icon-spin icon-spinner"></i> No message found
									</center></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng:show="_messages.length > 0">
						<table class="table table-striped table-condensed table-hover">
							<thead>
								<th>Emission Date</th>
								<th>Reception Date</th>
								<th>Index</th>
								<th>Msg</th>
								<th>[Payload]</th>
								<th>Lvl</th>
							</thead>
							<tbody ng-switch>
								<tr ng-repeat="message in _messages">
									<td>{{"{{message.received | date : 'yyyy-MM-dd HH:mm:ss' "}}}}</td>
									<td>{{"{{message.when | date : 'yyyy-MM-dd HH:mm:ss' "}}}}</td>
									<td>{{"{{message.ctxt.index"}}}}</td>
									<td>{{"{{message.type"}}}}</td>

									<td ng:show="isgeoloc(message.type, message.payload)">{{"{{message.payload"}}}} <a href="javascript:openmap(extractlatlng('{{'{{message.payload'}}}}'));" class="btn btn-success btn-mini"> <i class="icon-white icon-eye-open"></i> VIEW </a></td>
									<td ng:hide="isgeoloc(message.type, message.payload)">{{"{{message.payload"}}}} </td>

									<td>{{"{{message.lvl"}}}}</td>
								</tr>
								<tr>
									<td colspan="6">
									<center>
										<i class="icon-spin icon-spinner"></i>
									</center></td>
								</tr>
							</tbody>
						</table>
					</div>
					</ng-switch>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>
	</div>
</div>