---
layout: page-ng
title: Device dashboard
tagline: Messages history
description: Dashboard with transmitted datas
scripts:
- {name: validation, type: remote, url: "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
- {name: validation.nonobs, type: remote, url: "https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"}
- {name: modernizr, type: remote, url: "/assets/app/js/mdz.js"}
- {name: base64, type: remote, url: "https://stringencoders.googlecode.com/svn-history/r230/trunk/javascript/base64.js"}
- {name: pines, type: remote, url: "/assets/app/lib/jquery.pnotify.min.js"}
- {name: service, type: remote, url: "/assets/app/js/services.js"}
- {name: controller, type: remote, url: "/assets/app/js/controllers.js"}
- {name: bootrap, type: remote, url: "/assets/app/lib/ui-bootstrap-tpls-0.4.0.js"}
- {name: ngTable, type: remote, url: "/assets/app/lib/ng-table.js"}
- {name: app, type: remote, url: "/assets/app/js/app.js"}
- {name: popover, type: inline, content: "$(function(){$('[data-toggle=\"popover\"]').popover({trigger:'hover'});$('[data-toggle=\"tooltip\"]').tooltip({placement:'bottom'});})"}
- {name: angularbootstrapapp, type: inline, content: "angular.bootstrap(document, ['evbApp']);"}
---

{% include JB/setup %}

<div ng-controller="DashboardCtrl" >
	<div ng:show="_displayDashboard != true" ng:cloak>
		<div class="row" style="margin: 0 auto;display: table;">
			<div class="span5">

                <h3> Dashboard Features <small>based on Device API</small></h3>
                <p>
                    It provides both module operations as well as stored data access through unified model.
                </p>

				<form class="form-horizontal" accept-charset="utf-8" auto-complete="off" novalidate="novalidate" id="authenticationBySerial" name="authenticationBySerialForm" ng-controller="AuthenticationCtrl" ng-app="evbApp" ng-submit="authenticationBySerialSubmit(account, displayDashboard)" >

					<legend>
						Device Authentication
					</legend>
					<div class="control-group">
						<label class="control-label" for="inputSerial" data-toggle="popover" data-placement="bottom" data-content="<p>Module Id appears either on product parcel sticker, either by perfoming AT&V command within a terminal session.<br/>e.g XXXX, case insentitive, with no 0 padding.</p>" data-html="true" data-original-title="<strong>What's this ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i> Module id </a></label>
						<div class="controls">
							<input id="inputSerial" name="account.inputSerial" ng-model="account.inputSerial" ng-model-instant data-val="true" type="text" data-val-required="Serial is required." required tabindex="1" class="required" />
							<span class="field-validation-valid" data-valmsg-for="inputSerial" data-valmsg-replace="true"></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputKey" data-toggle="popover" data-placement="bottom" data-content="<p>Key information appears either next to module Id information on product packaging sticker (8 hexa chars, case insentitive), either as a #PAC given by your module provider (16 hexa chars, case insentitive).<br/></p>" data-html="true" data-original-title="<strong>Where can I get the key info ?</strong>"><a href="#"><i class="icon-question-sign icon-large"></i> Module key </a></label>
						<div class="controls">
							<input id="inputKey" name="account.inputKey" ng-model="account.inputKey" ng-model-instant data-val="true" type="text" data-val-required="Key is required." required tabindex="2" class="required" />
							<span class="field-validation-valid" data-valmsg-for="inputKey" data-valmsg-replace="true"></span>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
                            <button type="submit" class="btn btn-success" tabindex="3"> Sign In </button>
						</div>
					</div>
				</form>

                <div class="span5 alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Breaking news 2015/06 : </strong> <ul><li>Device's tooltips and sigfox raw messages history.</li></ul>
                </div>

			</div>
		</div>
	</div>
	<div ng:show="_displayDashboard == true">
		<div class="row">
			<div class="span12">
				<center>
					Last update : {{"{{_lastUpdate | date : 'yyyy-MM-dd HH:mm:ss' "}}}}
				</center>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h3><i class="icon-dashboard"> </i> Module {{"{{_serial"}}}} <span class="pull-right">
                    <button type="button" class="btn btn-success" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="getPacsFromId()" ng:show="(_display == true) && (undefined != _serial)" ng:cloak>
                        <i class="icon-white icon-download"></i> Download PAC
                    </button>
					<button type="button" class="btn btn-warning" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="logOut()" ng:show="(_display == true) && (undefined != _serial)" ng:cloak>
						<i class="icon-white icon-eject"></i> Logout from {{"{{_serial"}}}}
					</button>
					<button type="button" class="btn btn-warning" ng-app="evbApp" ng-controller="LogOutCtrl" ng-click="logOut()" ng:show="(display == true) && (undefined == _serial)" ng:cloak>
						Logout
					</button> </span></h3>
				<div ng:show="_devices == 0">
					<center>
						<i class="icon-spinner icon-spin"></i>
					</center>
				</div>
				<div ng:show="_devices > 0">
					<div class="well span4 fade in" ng-repeat="(id, d) in _devicesMap">
						<div class="modal-header">
							<i class="icon-hdd icon-2x snsr-{{"{d.uid"}}}}"></i><span class="label label-info">{{"{{d.uid"}}}}</span> </a> | <span class="badge badge-success">{{"{{d.index"}}}}</span> | <span class="label label-warning">{{"{{d.category"}}}}</span>
						</div>
						<div id="modal-body">
							Since : {{"{{formattedDate(d.firstseen) | date : 'yyyy-MM-dd HH:mm:ss'"}}}}
						</div>
						<div class="modal-footer">
							<ul class="unstyle inline">
								<li class="pull-left">
									<a href="#" class="indicator" data-toggle="tooltip" title="{{"{{d.uid"}}}}"><i class="icon-hdd icon-2x snsr-{{"{d.uid"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" title="Battery status indicator : {{"{{d.battery"}}}}"><i class="icon-bolt icon-2x snsr-{{"{{d.battery | lowercase"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" title="Sigfox wireless signal status indicator : {{"{{d.level"}}}}"><i class="icon-signal icon-2x snsr-{{"{{d.level | lowercase"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" title="Local network connection status indicator : {{"{{d.network"}}}}"><i class="icon-rss icon-2x snsr-{{"{{d.network | lowercase"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" title="Temperature status indicator : {{"{{d.temp"}}}}"><i class="icon-certificate icon-2x snsr-{{"{{d.temp | lowercase"}}}}"></i></a>
								</li>
								<li>
									<a href="#" class="indicator" data-toggle="tooltip" title="Switch status indicator : {{"{{d.tamper"}}}}"><i class="icon-exclamation-sign icon-2x snsr-{{"{{d.tamper | lowercase"}}}}"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="pull-right">
				<a href="#history" class="btn btn-info" data-toggle="modal" > <i class="icon-white icon-list-alt"></i> Show messages</a>
				<button ng-click="clearDeviceMessages()" class="btn btn-danger"> <i class="icon-white icon-minus-sign"></i> Clear UDM messages</button>
			</div>
		</div>

		<div id="history" class="modal hide fade in container">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3><i class="icon-time"> </i> History </h3>
			</div>
			<div class="modal-body">
			    <tabset>
                    <tab heading="UDM">
        				<div when-scrolled="loadMoreUDM();" ng:cloak id="fixed">
        					<div ng:show="_messagesUDM.length == 0">
        						<table class="table table-striped table-condensed table-hover">
        							<thead>
        								<th>Emission Time</th>
        								<th>Reception Time</th>
        								<th>Type</th>
        								<th>Payload</th>
        								<th>Snr (in dB)</th>
        							</thead>
        							<tbody ng-switch>
        								<tr>
        									<td colspan="5">
        									<center>
        										<i class="icon-spin icon-spinner"></i> No message found
        									</center></td>
        								</tr>
        							</tbody>
        						</table>
        					</div>
        					<div ng:show="_messagesUDM.length > 0">
        						<table class="table table-striped table-condensed table-hover">
        							<thead>
        								<th>Emission Time</th>
        								<th>Reception Time</th>
        								<th>Type</th>
        								<th>Payload</th>
        								<th>Snr (in dB)</th>
        							</thead>
        							<tbody ng-switch>
        								<tr ng-repeat="message in _messagesUDM">
        									<td>{{"{{message.received | date : 'yyyy-MM-dd HH:mm:ss' "}}}}</td>
        									<td>{{"{{message.when | date : 'yyyy-MM-dd HH:mm:ss' "}}}}</td>
        									<td>{{"{{message.type.split(':')[0] "}}}}</td>

                                            <td>
        							             <ul>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.frame_type)">Frame Type : {{"{{message.extra.frame_type"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.type)">Type : {{"{{message.extra.type"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.entry_id)">Entry Id : {{"{{message.extra.entry_id"}}}}</li>
        							                 <li ng-show="!isUndefinedOrNull(message.extra.latitude)">Latitude : {{"{{message.extra.latitude"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.longitude)">Longitude : {{"{{message.extra.longitude"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.altitude) && message.extra.altitude !== '8190'">Altitude : {{"{{message.extra.altitude"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.satellites)">Satellites : {{"{{message.extra.satellites"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.quality)">Quality : {{"{{message.extra.quality"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.satelliteinview)">Satellite In View : {{"{{message.extra.satelliteinview"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.month)">Month : {{"{{message.extra.month"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.day)">Day : {{"{{message.extra.day"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.hours)">Day : {{"{{message.extra.hours"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.minutes)">Minutes : {{"{{message.extra.minutes"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.volt)">Volt : {{"{{message.extra.volt"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.temp)">Temp : {{"{{message.extra.temp"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.frequency)">Frequency : {{"{{message.extra.frequency"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.reason_detail)">Reason : {{"{{message.extra.reason_detail"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.raw)">Raw : {{"{{message.extra.raw"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.asciiraw)">ASCII Raw : {{"{{message.extra.asciiraw"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.mobile)">Mobile : {{"{{message.extra.mobile"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.value_id)">Value_id : {{"{{message.extra.value_id"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.port)">Port : {{"{{message.extra.port"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.pin)">Pin : {{"{{message.extra.pin"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.code)">Code : {{"{{message.extra.code"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.custom)">Custom : {{"{{message.extra.custom"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.payload)">Payload : {{"{{message.extra.payload"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.data)">Data : {{"{{message.extra.data"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.asciidata)">Ascii Data : {{"{{message.extra.asciidata"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.sigfox_id)">Sigfox Id : {{"{{message.extra.sigfox_id"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.device_class)">Device Class : {{"{{message.extra.device_class"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.soft_release)">Soft Release : {{"{{message.extra.soft_release"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.release) && !isUndefinedOrNull(message.extra.sub_release)">Release : {{"{{message.extra.release"}}}}.{{"{{message.extra.sub_release"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.pro_release) && !isUndefinedOrNull(message.extra.pro_sub_release)">Pro Release : {{"{{message.extra.pro_release"}}}}.{{"{{message.extra.pro_sub_release"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.frm_release) && !isUndefinedOrNull(message.extra.frm_sub_release)">Frm Release : {{"{{message.extra.frm_release"}}}}.{{"{{message.extra.frm_sub_release"}}}}</li>
                                                     <li ng-show="!isUndefinedOrNull(message.extra.version)">Version : {{"{{message.extra.version"}}}}</li>
                                                     <li ng:show="isgeolocorgps(message.extra)"> <a href="javascript:openmap('{{'{{message.extra.latitude'}}}},{{'{{message.extra.longitude'}}}}');" class="btn btn-success btn-mini"> <i class="icon-white icon-eye-open"></i> VIEW </a></li>
        							             </ul>
        							        </td>

        									<td>{{"{{message.lvl"}}}}</td>
        								</tr>
        								<tr>
        									<td colspan="6">
        									<center>
        										<i class="icon-spin icon-spinner"></i>
        									</center></td>
        								</tr>
        							</tbody>
        						</table>
        					</div>
        					</ng-switch>
        				</div>
        			</tab>

                    <tab heading="Raw" >
                        <div ng:cloak id="fixed">
                            <div ng:show="_messagesRAW.length == 0">
                                <table class="table table-striped table-condensed table-hover">
                                    <thead>
                                        <th>Time</th>
                                        <th>Data</th>
                                        <th>Snr (in dB)</th>
                                        <th>Tap Infos (Snr in dB & Rssi in dBm)</th>
                                    </thead>
                                    <tbody ng-switch>
                                        <tr>
                                            <td colspan="4">
                                                <center>No message found</center>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng:show="_messagesRAW.length > 0">
                                <table class="table table-striped table-condensed table-hover">
                                    <thead>
                                        <th>Time</th>
                                        <th>Data</th>
                                        <th>Snr (in dB)</th>
                                        <th>Tap Infos (Snr in dB & Rssi in dBm)</th>
                                    </thead>
                                    <tbody ng-switch>
                                        <tr ng-repeat="messageRAW in _messagesRAW">
                                            <td>{{"{{messageRAW.time * 1000 | date : 'yyyy-MM-dd HH:mm:ss' "}}}}</td>
                                            <td>{{"{{messageRAW.data "}}}}</td>
                                            <td>{{"{{messageRAW.snr "}}}}</td>
                                            <td>
                                                <ul>
                                                    <li ng-repeat="rinfo in messageRAW.rinfos">Tap : {{"{{rinfo.tap"}}}} - Snr : {{"{{rinfo.snr"}}}} - Rssi : {{"{{rinfo.rssi"}}}}</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <center>
                                <button ng-click="loadMoreRAW(false);" class="btn btn-info"> <i class="icon-white icon-plus-sign"></i> More messages</button>
                                <button ng-click="loadMoreRAW(true);" class="btn btn-success"> <i class="icon-white icon-refresh"></i> Refresh</button>
                            </center>
                            </ng-switch>
                        </div>
                    </tab>

                </tabset>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>
	</div>
</div>