/* app css stylesheet */
html, body { height:100%; }

footer {
	position:relative;
    clear:both;
    height:30px; /* Tinggi footer */
    line-height:30px;
}
.content {
	min-height: 100%;
}

#fixed {
    height: 500px;
    overflow: auto;
}

a.indicator:hover {
	text-decoration : none;
	opacity: 0.3;
}

a.indicator i {
	-webkit-transition: all 1000ms; -moz-transition: all 1000ms; -o-transition: all 1000ms; transition: all 1000ms; 
}

.snsr-unknown {
	color : #0088cc;
}

.snsr-on {
	color : green;
}

.snsr-off {
	color : red;
}

.snsr-low {
	color : blue;
}

.snsr-ok {
	color : green;
}

.snsr-high {
	color : orangered;
}

/*style.css*/
.ng-table {
    border: 1px solid #000;
}
.nomargin {
    margin-top: 0px; margin-bottom: 0px;
}
label {
	white-space: nowrap;
}

input.required[type="text"], input.required[type="email"] {
    background-image: url("/images/required-input.png");
    background-position: right 5px;
    background-repeat: no-repeat;
}

.field-validation-error {
    color: #B94A48;
}